html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 90%;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.125em;
}

h3 {
	font-size: 0.75em;
}

p {
	font-size: .875em;
	line-height: 21px;
}

/*The widths are in a percentage!*/
header {
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

header h1 {
	margin: 0;
	padding: 25px 0;
	border-bottom: 3px solid #77a466;
	font-size: 2em;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 30px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0 10px;
	line-height: 3em;
	display: flex;
	justify-content: center;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.bottom-section {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	text-align: left;
	color: #77a466;
}

.main-title p {
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: auto;
	height: auto;

}

.section-two {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.menu {
	list-style: none;
	padding-left: 0;
}

.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/

footer {
	height: 50px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/****Media queries here*****/

@media all and (min-width: 768px) {

	.bottom-section {
		justify-content: space-between;
		align-items:flex-start;
		flex-direction: row;
	}

	h3 {
		padding: 10px 0;
	}

	.section-one {
		width: 33.33%;
	}

	.section-two {
		width: 33.33%;
		border: none;
		padding: 0 20px;
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-three {
		width: 33.33%;
		padding-left: 20px;
	}
}


@media all and (min-width: 1200px) {
	header {
		justify-content:space-between;
		flex-direction: row;
		width: 100%;
	}

	header nav ul li {
		display: inline;
		justify-content: space-between;
	}
	
	header h1 {
		width: 30%;
		padding: 0;
		border-bottom: none;
		text-align: left;
	}
	
	.bottom-section {
		width: 90%;
		
	}

	
	
}